h2 {
    color: black;
    padding: 20px 0;
}
body {
    height: 100%;
}
.bg-container {
    position:absolute;
    /* z-index:-1; */
    width:100%;
    height:100%;
    top: -200%;
    overflow: hidden;
    
}

.bg-img {
    width: 100%;  
    height: auto;  
}

button {
    width: 200px;
}

.my-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    /* background: url("https://i0.hdslb.com/bfs/album/9d27b5a51491d931f5aaa81b8cad4b5b9d96b333.png") no-repeat center -10%; */
    background: url("../img/bg.jpg") no-repeat center -10%;
    background-size: 50%;
    overflow: hidden;
}
